{% extends "base_nav.html" %}
{% load static %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="menu-sidebar">
        <div class="row flex-nowrap">
            <div class="container-fluid">

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <br>
<!-- 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleSideBar" aria-controls="collapsibleNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                <ul id="collapsibleSideBar" class="menu-ul collapse show" style="list-style-type: none">
                    {% for name in header %}
                    <li class="menu-l"><a class="nav-link-menu" href="#{{ name }}"> {{ name }} </a></li> <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="container-fluid">
            <h1 class="menu-heading"> Menu </h1>
            <br>

            <div class="search">

                <input type="input" id="myInput" onkeyup="lookUp(this)" placeholder="Search an item.." style="width:100%">
                <!-- search icon -->
                <!-- <i id="searchIcon" class="fa fa-search"></i> -->
            </div>

            <br>
            {% for name in header %}
                <h1 id="{{ name }}" class="text-center"> {{ name }} </h1>
                {% if name.sub %}
                    <h6 class="text-center"> {{ name.sub | linebreaksbr }} </h6>
                {% endif %}

                <br>

            <div class="menu-item-container">

                {% if name.name == "Lunch Special" %}
                    {% for item in lunch %}
                        <div class="menu-item" onclick="openPopup('lunch-{{ item.pk }}')">
                            <p class="sub2">
                                <!-- {% if item.subtitle %} -->
                                    <!-- {{ item.subtitle |linebreaksbr }} -->
                                <!-- {% else %} -->
                                    <!-- <i class="fa-solid fa-eye"></i> -->
                                    <!-- <img class="menu-item-image" src="{% static 'dishes/honey-chicken.png' %}" alt=""> -->
                                <!-- {% endif %} -->
                                {% if item.lunch_image_url %}
                                    <img class="menu-item-image" src="{{ item.lunch_image_url }}">
                                {% endif %}
                            </p>

                            <p class="name">
                                {{ item.lunch_number }}. {{ item.name }}
                                {% if item.spicy %}
                                    &nbsp &#x1f336;
                                {% endif %}

                                <!-- <p class="edit_order"> &lt;!&ndash;{% block edit_order1 %} {% endblock %}&ndash;&gt; </p> -->
                            </p>

                            <p class="price">
                                ${{ name.price }}
                            </p>

                        </div>

                        <div class="popup" id="popup-lunch-{{ item.pk }}"> <!-- onclick="closePopup('{{ item.pk }}')"> -->
                            <div class="popup-content">
                                <h2> 
                                    {{ item.lunch_number }}. {{ item.name }} 
                                    {% if item.spicy %}
                                        &nbsp &#x1f336;
                                    {% endif %}
                                </h2> 
                                {% if item.subtitle %}
                                    <p> {{ item.subtitle }} </p>
                                {% endif %}
                                {% if item.lunch_image_url %}
                                    <img class="popup-image" src="{{ item.lunch_image_url }}"> <br>
                                {% endif %}
                                <p> ${{ name.price }} </p>
                                <button class="close-btn" onclick="closePopup('lunch-{{ item.pk }}')">Close</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if name.name == "Dinner Combo" %}
                    {% for item in dinner %}
                        <div class="menu-item" onclick ="openPopup('dinner-{{ item.pk }}')">
                            <p class="sub2">
                                <!-- {% if item.subtitle %} -->
                                    <!-- {{ item.subtitle | linebreaksbr }} -->
                                <!-- {% endif %} -->
                                {% if item.dinner_image_url %}
                                    <img class="menu-item-image" src="{{ item.dinner_image_url }}">
                                {% endif %}
                            </p>

                            <p class="name">
                                <!-- {% block edit_order2 %} {% endblock %} -->
                                {{ item.dinner_number }}. {{ item.name }}
                                {% if item.spicy %}
                                    &nbsp &#x1f336;
                                {% endif %}
                            </p>

                            <p class="price">
                                ${{ name.price }}
                            </p>

                            <!-- <hr> -->
                        </div>

                        <div class="popup" id="popup-dinner-{{ item.pk }}"> <!-- onclick="closePopup('{{ item.pk }}')"> -->
                            <div class="popup-content">
                                <h2> 
                                    {{ item.dinner_number }}. {{ item.name }} 
                                    {% if item.spicy %}
                                        &nbsp &#x1f336;
                                    {% endif %}
                                </h2> 
                                {% if item.subtitle %}
                                    <p> {{ item.subtitle | linebreaksbr }} </p>
                                {% endif %}
                                {% if item.dinner_image_url %}
                                    <img class="popup-image" src="{{ item.dinner_image_url }}"> <br> <br>
                                {% endif %}
                                <p> ${{ name.price }} </p>
                                <button class="close-btn" onclick="closePopup('dinner-{{ item.pk }}')">Close</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for item in menu %}
                    {% if item.header == name %}
                        <div class="menu-item" onclick="openPopup('{{ item.pk }}')">
                            <p class="sub2">
                                <!-- {% if item.subtitle %} -->
                                    <!-- <p class="sub"> {{ item.subtitle | linebreaksbr }} </p> -->
                                <!-- {% endif %} -->
                                {% if item.image_url %}
                                    <img class="menu-item-image" src="{{ item.image_url }}">
                                {% endif %}
                            </p>
                                
                            <p class="name">
                                <!-- {% block edit_order3 %} {% endblock %} -->
                                {{ item.menu_number }}. {{ item.name }}
                                {% if item.spicy %}
                                    &nbsp &#x1f336;
                                {% endif %}
                            </p>

                            <p class="price">
                                {% if item.large_price %}
                                    (Sm.) ${{ item.price }} &nbsp; (Lg.) ${{ item.large_price }}
                                {% elif item.quart_price %}
                                    (Pt.) ${{ item.price }} <br> (Qt.) ${{ item.quart_price }}
                                {% elif item.bottle_price %}
                                    (Can) ${{ item.price }} <br> (20 oz.) ${{ item.bottle_price }}
                                {% else %}
                                    ${{ item.price }}
                                {% endif %}
                            </p>

                        </div>

                        <div class="popup" id="popup-{{ item.pk }}"> <!-- onclick="closePopup('{{ item.pk }}')"> -->
                            <div class="popup-content">
                                <h2> 
                                    {{ item.name }} 
                                    {% if item.spicy %}
                                        &nbsp &#x1f336;
                                    {% endif %}
                                </h2> 
                                {% if item.subtitle %}
                                    <p> {{ item.subtitle | linebreaksbr }} </p>
                                {% endif %}
                                {% if item.image_url %}
                                    <img class="popup-image" src="{{ item.image_url }}"> <br> <br>
                                {% endif %}
                                <p>
                                    {% if item.large_price %}
                                        (Sm.) ${{ item.price }} &nbsp; (Lg.) ${{ item.large_price }}
                                    {% elif item.quart_price %}
                                        (Pt.) ${{ item.price }} <br> (Qt.) ${{ item.quart_price }}
                                    {% elif item.bottle_price %}
                                        (Can) ${{ item.price }} <br> (20 oz.) ${{ item.bottle_price }}
                                    {% else %}
                                        ${{ item.price }}
                                    {% endif %}
                                </p>
                                <!-- <div> -->
                                    <button style="float: left" class="close-btn" onclick="closePopup('{{ item.pk }}')">Close</button>
                                    <!-- <p style="float: right"> ${{ item.price }} </p> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <hr> <hr>

            {% endfor %}
        </div>
    </div>
</div>

<div>
    <div class="row flex-nowrap">
        <div class="container-fluid">
            <button class="return-top">
                <a href="#"> Top </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/menu_functions.js' %}"></script>
<!-- <script src="{% static 'js/add_image.js' %}"></script> -->
{% endblock %}