{% extends "base_nav.html" %}
{% load static %}

{% block title %}
    China Ocean
{% endblock %}

{% block content %}
    <div class="home-grid">
        <h1 class="home_page">
            Address: <br>
        </h1>

        <h1 class="home_page">
            Call Us: <br>
        </h1>


        <h2 class="home_page">
            706 Chase Six Blvd. <br>
            Boonsboro MD 21713
        </h2>

        <h2 class="home_page">
            Telephone: 301 - 432 - 8588 <br>
            <p hidden="True"> Fax: 301 - 432 - 8188 </p>
        </h2>
    </div>

    <hr> <hr>

    <h1 class="home_page">
        Hours: <br>
    </h1>
    <h2 class="home_page">
        Monday: Closed <br>
        Tuesday: Closed <br>
        Wednesday: 11:00am - 9:00pm <br>
        Thursday: 11:00am - 9:00pm <br>
        Friday: 11:00am - 9:00pm <br>
        Saturday: 11:00am - 9:00pm <br>
        Sunday: 11:00am - 9:00pm
    </h2>
{% endblock %}