body {
    background: #4dafff;
    font-family: 'Patrick Hand', sans-serif;
    height: 100%;
}


.navbar {
    text-align: right;
    background-color: rgba(255, 255, 255, 0.3);
    /* position: fixed; */
    width: 100%;
    /*bottom: 83%;*/
    top: 0px;
}

.navbar-brand {
    margin-left: 10px;
    font-size: 50px; /* 50px 5.5vw*/
    color: #464646;
}

.navbar-toggler {
    color: #464646;
}

.nav-link {
    text-align: right;
    color: #464646;
    font-size: 18px; /* 1.3vw */
    font-weight: bold;
    font-family: 'FreeMono', sans-serif;
    word-spacing: -5px;
}

/* dropdown menu settings */
.dropdown-menu {
    background: #84C8FF;
    border: none;
    text-align: right;
}

.dropdown-menu a:hover {
    color: 1000;
    background: none;
}

.nav-link-strong {
    text-align: right;
    color: #464646;
    font-size: 18px;
    font-weight: 900;
    font-family: 'FreeMono', sans-serif;
}

.menu-heading {
    text-align: center;
    font-size: 50px;
    letter-spacing: 2.5px;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 50%;
    /* animation: animate .5s linear infinite; */
}

/* allows 2 divs to be side by side */
.wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    /*top: 80%;*/
}

/* side bar for menu headers */
.menu-sidebar {
    background-color: #84c8ff;
    max-width: 20%;
    padding-right: 10px;
    float: left;
    /*top: 120px;
    position: fixed;*/
}

.menu-sidebar a {
    font-size: 25px;
    color: #464646;
    text-decoration: none; /* removes underline from link */
}

.menu-sidebar a:hover {
    font-weight: 1000;
}

.menu-ul {
    line-height: 20px;
    word-wrap: break-word;
}

/* Styling for whole menu content */
.menu {
    width: 80%;
    margin: auto;
    float: left;
}

/* Menu item/price styling */
.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.left {
    text-align: left;
    padding-left: 10px;
}
.right {
    text-align: right;
    padding-right: 15px;
}

.sub {
    text-align: left;
    padding-left: 25px;
    font-size: 13px;
    margin-top: -15px;
}

/* menu item layout styling */
.menu-item-wrapper {
    display: grid;
    /*grid-template-rows: auto; */
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

/* menu item box styling */
.menu-item-grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* grid-template-columns: 4fr 2fr; */
    margin: 10px;
    max-width: 250px;
    max-height: 120px;
}

.name {

}

.edit_order {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.price {
    text-align: right;
}

.sub2 {
    font-size: 13px;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* search bar styling **/
.search {
    padding-left: 25px;
    padding-right: 10px;
}

#searchIcon {
    position: relative;
    z-index: 1;
    left: -25px;
    color: #7B7B7B;
}

hr.menu {
    width: 100%;
    /*border-top: double #8c8b8b;*/
}

/* return to top button */
.return-top {
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    position: fixed;
    padding-bottom: 5px;
    opacity: 25%;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid;
    border-color: #65B5FF;
}

.return-top a {
    text-decoration: none;
    text-align: center;
    text-size: 5px;
}

.return-top:hover {
    opacity: 100%;
}

/* Home page styling */
.home_page {
    margin-left: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-left: 10px;
    padding-top: 10px;
    /*grid-auto-rows: 8px;*/
}

.gallery img {
    text-align: center;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

.gallery .content {
    padding: 4px;
}


/* other */

/*
.menu1 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu1 a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
}

.class-for-home {
    color: red;
}
*/